@media screen and (max-width: 768px ) {
  div.nav-cont {
    grid-template-areas: 
      "logo nav-btn";
  }

  button#nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ul.page-links {
    display: none;
  }

  div#drop-nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div#drop-nav-links.open {
    box-shadow: 0 0 5px 1px var(--yellow);
    padding: var(--common-padding);
    height: 110px;
  }

  div.footer-img {
    padding: 0;
  }
}

@media screen and (min-width: 769px) {
  header {
    grid-template-columns: 330px 1fr;
  }

  div.footer-img img {
    max-width: 450px;
  }
}
