/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto&display=swap');

/* Archivo Black*/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

/* Chakra Petch  */
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Chakra+Petch&family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --common-padding: 8px;
  --common-margin: 16px;
  --min-margin: calc((var(--common-margin)) * 0.5);
  --icon-size: 24px;

  --nav-height: 50px;

  --off-white: #F8F6F6;
  --yellow: #F5D061;
  --red: #CF4647;
  --gray: #2A363B;

  --common-font: "Roboto", sans-serif;
  --title-font: "Archivo Black", sans-serif;
  --header-font: "Chakra Petch", sans-serif;
}

p, a, span {
  font-family: var(--common-font);
}

body {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

  height: 100%;
  width: 100%;    

  background-image: url('../assets/bg.jpg');
  background-position: center;
  background-size: cover;
  filter: brightness(0.5);
}

body > * {
  max-width: 1024px;
  width: 100%;
  /* border: 1px solid orangered; */
}

/* nav bar (start)*/
html {
  scroll-behavior: smooth;
  scroll-padding: calc(var(--nav-height) * 1.5);
}

nav {
  height: var(--nav-height);
  width: 100%;
  max-width: unset;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: rgba(42, 54, 59, 0.95);
 
  display: flex;
  justify-content: center;
  align-items: center;
}

div.nav-cont {
  max-width: 1024px;
  width: 100%;
  height: 100%;

  overflow: hidden;
  padding: 0 var(--common-padding);

  display: grid;
  grid-template-columns: 1fr max-content;
  grid-template-rows: 1fr;

  grid-template-areas:
    "logo page-links";
}

/* logo(start) */
a.page-logo {
  grid-area: logo;
  justify-self: start;
  height: 100%;
  width: max-content;
  padding: 0 var(--common-padding);

  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  text-decoration: none;
}

a.page-logo:hover svg {
  fill: var(--yellow);
}

a.page-logo:hover span {
  color: var(--yellow);
}

a.page-logo svg {
  width: 1.5rem;
  fill: var(--off-white);
}

a.page-logo span {
  font-size: 1.5rem;
  font-family: var(--header-font);
  color: var(--off-white);
}
/* logo(end) */

/* nav button (start) */
button#nav-button {
  grid-area: nav-btn;
  align-self: center;
  border: none;
  background-color: transparent;
  
  width: max-content;
  height: max-content;

  display: none;
}

button#nav-button svg {
  width: 2rem;
  height: 2rem;
}

button#nav-button svg path {
  fill: var(--yellow);
}

/* Alt nav links (start) */
div#drop-nav-links {
  position: fixed;
  z-index: 3;
  top: calc(var(--nav-height) * 0.8);
  right: var(--common-margin);

  width: max-content;
  height: 0;
  padding: 0 var(--common-padding);
  background-color: var(--gray);
  overflow: hidden;

  transition: 
    height 0.2s ease-in-out,
    padding 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out;

  display: none;
}

div#drop-nav-links.open {
  display: none;
}

ul.alt-page-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: var(--common-padding);
}

ul.alt-page-links li {
  padding: 0 var(--common-padding);
}

ul.alt-page-links a  {
  font-size: 1.3rem;
  color: var(--off-white);
  text-decoration: none;
}
/* Alt nav links (start) */

/* nav button (end) */

ul.page-links {
  grid-area: page-links;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  /* grid-template-columns: 1fr;
  grid-template-rows: repeat(3, max-content); */
  justify-content: end;
  align-items: center;
  height: 100%;

  overflow: hidden;
  padding: 0;
}

ul.page-links li {
  list-style: none;
  padding: var(--common-padding);
  border-bottom: 5px solid transparent;
  border-top: 5px solid transparent;
  text-align: center;
  transition: 
    filter 0.2s ease-in-out,  
    border-width 0.2s ease-in-out,
    background-color 0.2s ease-in-out;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

ul.page-links a {
  font-size: 1rem;
  color: var(--off-white);
  text-decoration: none;
}

ul.page-links a:visited {
  color: var(--off-white);
}

ul.page-links a:visited {
  color: var(--off-white);
}

ul.page-links li:has(a:active) {
  filter: brightness(0.5);
} 

ul.page-links li:has(a:hover) {
  background-color: #233035;
  border-bottom: 5px solid var(--red);
} 

ul.page-links a:hover {
  color: var(--yellow);
}

section#about, section#project, section#contact {
  scroll-behavior: smooth;
}

/* nav bar (end)*/

/* Header (start) */
header {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin-top: calc(var(--nav-height) * 1.5);
  background-color: var(--yellow);
}

/* Hero (start) */
section#hero {
  display: grid;
  position: relative;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 1fr max-content;
  gap: var(--min-margin);
  justify-content: start;
  grid-template-areas: 
    "name picture"
    "title picture";

  /* margin: calc(var(--nav-height) * 1.5) 0 var(--common-margin) 0; */
  padding: calc(var(--common-padding) * 2) var(--common-padding);
  background-color: var(--yellow);
  height: 300px;
  min-width: 320px;
  max-width: 320px;
  min-height: max-content;
  justify-self: center;
}

img.profile-pic {
  grid-area: picture; 
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: bottom right;
  justify-self: end;
} 

h1.my-name {
  grid-area: name;
  text-wrap: nowrap;

  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: nowrap;
  
  margin-top: var(--common-margin);
  padding: var(--common-padding);
  font-family: var(--title-font);
  color: var(--off-white);
  text-shadow: 0 0 8px var(--gray);
  
}

h1.my-name span {
  font-family: var(--title-font);
}

h2.my-title {
  grid-area: title;
  font-size: 1rem;
  padding: var(--common-padding);
  border-bottom: 5px solid var(--red);
  max-width: max-content;
  font-family: var(--header-font);
}
/* Hero (start) */

/* About section (start) */
section#about {
  margin: 0;
  padding: calc(var(--common-padding) * 2) var(--common-padding);
  display: grid;
  gap: var(--min-margin);
  background-color: var(--gray);
}

section#about p {
  color: var(--off-white);
  text-align: start;
  padding: 0 var(--common-padding);
  font-size: 1.2rem;
}

div.profile-links {
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--common-margin);
  justify-self: end;
  padding: 0 var(--common-padding);
}

div.profile-links svg {
  width: var(--icon-size);
}

div.profile-links svg.github-icon path {
  fill: var(--off-white);
}

div.profile-links a {
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
}

/* About section (end) */
/* Header (end) */

/* Main common (start) */
main section  {
  margin: calc(var(--common-margin) * 2) 0;
  padding: var(--common-padding);
}

section h3 {
  font-size: 2rem;
  font-family: var(--header-font);
  margin-bottom: var(--common-margin);
  color: var(--off-white);
  padding: 0 var(--common-padding);
}

/* Main common (end) */

/* Project section (start) */
section#projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: var(--common-padding);
}

div#projects-main {
  display: grid;
  gap: calc(var(--common-margin) * 2);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  width: 100%;
  justify-content: center;
}

div.project-cont {
  border: 2px solid var(--yellow);
  border-radius: 5px;
  background-color: var(--gray);
  padding: calc(var(--common-padding) * 2);
  box-shadow: 0 5px 5px 2px rgba(42, 54, 59, 0.8);

  display: grid;
  gap: var(--min-margin);
  grid-template-columns: 1fr max-content;
  grid-template-areas: 
    "preview preview"
    "title links"
    "desc desc";
}

h2.project-title {
  grid-area: title;
  font-family: var(--header-font);
  color: var(--yellow);
}

div.project-cont p {
  color: var(--off-white);
}

img.project-preview {
  grid-area: preview;
  border-bottom: 5px solid var(--red);
  width: 100%;
  object-fit: cover;
  object-position: top left;
}

div.project-links {
  grid-area: links;
  width: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--common-margin);
}

div.project-links a{
  display: flex;
  justify-content: center;
  width: var(--icon-size);
  height: var(--icon-size);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

a.repo-link {
  background-image: url(../assets/open-repo-2.svg);
}

a.live-link {
  background-image: url(../assets/open-live-2.svg);
}

p.project-desc {
  grid-area: desc;
}

/* Project section (end) */

/* Footer (start) */
footer {
  max-width: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(207, 70, 71, 0.8);
  border-top: 1px solid var(--yellow);
  margin: var(--common-margin) 0 0 0;
}

div.footer-cont {
  max-width: 1024px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}

/* Contact (start)) */
section#contact {
  padding: var(--common-padding);
  
}

div.detail-cont {
  padding: 0 var(--common-padding);
}

section#contact h3 {
  color: var(--yellow);
}

section#contact p {
  margin: var(--min-margin) 0;
  color: white;
  text-shadow: 0 0 2px var(--gray);
}

p.address {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: max-content 1fr;
  justify-content: start;
  align-items: center;
  gap: var(--min-margin);
}

p.address span.pin-icon {
  grid-template-columns: 1 / 2;
  grid-row: 1 / 5;
  align-self: start;
}

p.tel, p.email {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: var(--min-margin);
}

section#contact span svg {
  width: var(--icon-size);
  fill: white;
}

section#contact span svg path {
  fill: var(--yellow);
}

section#contact div.profile-links {
  padding: 0 var(--common-padding);
  margin: var(--common-margin) 0;
}

div.footer-img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: calc(var(--common-padding) * 2);

  display: flex;
  justify-content: center;
  align-items: center;
}

div.footer-img img {
  width: 100%;
  object-fit: cover;
}

/* Contact (end)) */

/* Footer (end) */
